.section1{
    background-image: linear-gradient(110deg,white 50%,#f6B400 50%);
}
#logo{
    display: flex;
}
#navbar li{
    display: inline;
    margin-right: 7em;
    font-weight: bold;
}
u{
    text-decoration-line:underline;
    text-decoration-style: solid;
    text-decoration-color: #f6B400;
    text-decoration-thickness: 4px;
    margin-top: 2em;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.description{
    display: flex;
    justify-content: space-between;
}
.description #sectimg{
    margin-right: 19em;
}
.description #info{
    margin-left: 6em;
    margin-top: 6em;
}
.description #info button{
    margin-top: 8em;
    margin-left: 2em;
    border-radius: 15px;
    border-bottom-right-radius: 2px;
    height: 40px;
    width: 100px;
    background-color: #f6B400;
}
.description #info p{
    margin-top: 4em;
}
.description #info h2{
    font-size: xx-large;
}
.section2{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 10em;
}
.section2 p{
    text-align: center;
    font-size: small;
}
.section2 h3{
    color: maroon;
    font-size: larger;
    font-weight: 600;
}
.section2 #quality{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(185, 179, 179);
    border-radius:8px;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;

}
.section2 #delivery{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(185, 179, 179);
    border-radius:8px;
    padding: 2em;

}
.section2 #Meals{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(185, 179, 179);
    border-radius:8px;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 2em;
}
.menuitems{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 5em;
    margin-left: 10em;
    margin-right: 10em;

}
.menuitems h3{
    color: maroon;
}
.menuitems p{
    text-align: center;
    font-size: small;
}

.menuitems #itemtag{
    display: flex;
    justify-content: space-evenly;

}
.menuitems #statements{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuitems #itemtag button{
    width: 50px;
    height: 35px;
    border-radius: 8px;
    border-color: rgb(189, 187, 187);
}
.menuitems #item1{
    border: 2px solid rgb(187, 186, 186);
    box-shadow: 00 4px 2px 00 black;
    border-radius:12px;
    width: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
}
.menuitems #item2{
    border: 2px solid rgb(187, 186, 186);
    box-shadow: 00 4px 2px 00 black;
    border-radius:12px;
    width: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;

}
.menuitems #item3{
    border: 2px solid rgb(187, 186, 186);
    box-shadow: 00 4px 2px 00 black;
    border-radius: 12px;
    width: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
}
.menuitems #item4{
    border: 2px solid rgb(187, 186, 186);
    box-shadow: 00 4px 2px 00 black;
    border-radius:12px;
    width: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
}
.menuitems #item5{
    border: 2px solid rgb(187, 186, 186);
    box-shadow: 00 4px 2px 00 black;    
    border-radius:12px;
    width: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
}
.menuitems #item6{
    border: 2px solid rgb(187, 186, 186);
    box-shadow: 00 4px 2px 00 black; 
    border-radius:12px;
    width: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
}
.section4{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
    margin-bottom: 8em;
}
.section4 .sectbuttons{
    margin-top: 5em;
    display: flex;
} 
.section4 .sectbuttons #one{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: #f6B400;
    margin-right: 2em;
}
.section4 .sectbuttons #two{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(167, 164, 164);
    margin-right: 2em;
}
.section5{
    background-color: #f6B400;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
.section5 .details{
    margin-top: 8em;
}
.section5 .phoneappDemo{
    margin-top: 3em;
}
.section6{
    display: flex;
    justify-content: space-between;
}
.section6 .logo2{
    display: flex;
    margin-top: 3em;   
    margin-left: 1em;
}
.subbox{
    margin-top: 2em;
}
.subbox button{
    background-color: #f6B400;
    border-color: #f6B400;
    color: white;
}
.sectionfooter{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}
.socials{
    margin-top: 1em;
}